*{
margin:0px;
padding:0px;
box-sizing: border-box;
}
body{
font-family: 'Times New Roman', Times, serif ;
height: 100vh;
display: flex;
justify-content: center;
}
.app {
 position: fixed;
 width:100%;
 height:100% ;
max-width: 600 px ;
background: #fff ;
border-left: 1px solid #eee;
border-right: 1px solid #eee;

}
.app > .screen {
    display: none;
}
.app > .screen.active {
    display: block;
width:100% ;
height: 100%;
}
.screen .form {
position:absolute ;
top:50% ;
left:50% ;
transform: translate(-50%,-50%);
max-width: 400px;
width: 80%;

}
.screen{
    background-image: repeating-linear-gradient(black,blue,white) ;
}
.screen .form-input{
 width: 100% ;
margin:  20px 0px;
}
.screen h2 {
margin-bottom: 20px;
font-size: 30px;
color:white;
border-bottom: 4px solid red;
padding: 5px 0px;
display: inline-block;
}
.screen .form-input label {
display: block ;
margin-bottom: 5px ;
color: red;
}

.screen .form-input input {
width: 100%;
padding: 10px;
border: 1px solid black;
font-size: 16px;
}
.screen .form-input button{
padding: 10px;
background-color: red;
font-size: 16px;
cursor: pointer;
outline:none ;
border: none;
}
.screen .form-input button:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: black ;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.chat-screen .header 
{
    background-color: red ;
    height:45 px ;
    display: flex;
    justify-content:space-evenly ;

    padding: 0px 5 px ;
}

.chat-screen .header .logo{
font-size: 18px;
color:black ;
font-weight: 600;
align-items: center;

}
.chat-screen .header button{
    padding: 5px 10 px;
    border: 1px solid black;
    background: transparent;
    color:black ;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}
.chat-screen .header button:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: black;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.chat-screen .messages {
width: 100%;
height: calc(100%-100px);
background: blue ;
overflow: auto;
}
.chat-screen .messages > div {
    max-width: 80%;
    box-shadow: 0 px 0px 20px 5px white;
    padding: 10px;
    background: #fff;
}
.chat-screen .messages .message .my-message{
    justify-content: flex-end;
}
.chat-screen .messages .message .other-messages{
    justify-content: flex-start;
}
.chat-screen .messages .message .name{
    font-size: 13px;
    color:#555 ;
    margin-bottom: 5px;
}
.chat-screen .messages .message .text {
    word-wrap: break-word;
}
.chat-screen .messages .update{
    text-align: center;
    padding:10px;
    font-style: italic;
}
.chat-screen .typebox input{
    flex: 1;
    height: 50px;
    font-size: 18px;
}
.chat-screen .typebox 
{
width: 100%;
height: 50px;
display: flex;
}
.chat-screen .typebox button{
    width: 80px;
height: 100%;
background: #111;
color: #eee;
font-size: 16px;
outline: none;
border: none;
cursor:pointer ; 
}
